.integrate_your_form_tiles .title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.4px;
    color: #3D3D3F;
}

.integrate_your_form_tiles .text{
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.4px;
    color: #434E5A;
}
.btn_read_more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 110px;
    width:100%;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #1DCFA9;
    border: none;
    background-color: white;
}


