.homePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background: linear-gradient(
    180deg,
    #150a39 0%,
    #180d3b 3.125%,
    #1f1441 6.25%,
    #2a1f4a 9.375%,
    #372e56 12.5%,
    #483f64 15.625%,
    #5a5273 18.75%,
    #6e6784 21.875%,
    #837d96 25%,
    #9893a8 28.125%,
    #ada9b9 31.25%,
    #c1beca 34.375%,
    #d4d2da 37.5%,
    #e5e3e9 40.625%,
    #f3f3f5 43.75%,
    #ffffff 46.875%
);




}

