.Giv_it_try {
    /* Your styles for the wrapper div */
  }
  
.Give {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.4px;
    color: #434E5A;
}
  
  .number_photo {
    /* Your styles for the number photo img */
  }
  